@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --wlabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(132, 56%, 59%);
  --black: hsl(0, 0%, 0%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--light-gray);
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  outline: none;
  margin-top: 100px;
}

button.next-step {
  color: var(--wlabaster);
  background-color: var(--marine-blue);
  display: block;
  margin-left: auto;
}

button.go-back {
  background: transparent;
  color: var(--cool-gray);
  font-weight: 500;
  padding-left: 0;
}

button.go-back:hover {
  color: var(--marine-blue);
}

button.confirm {
  color: var(--white);
  background-color: var(--purplish-blue);
}

button.next-step:active,
button.confirm:active {
  transform: scale(0.95);
}

main#form-container {
  max-width: 1400px;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 550px;
  min-width: 900px;
  border-radius: 10px;
  padding: 10px;
}

#form-content-container {
  display: grid;
  place-items: center;
  grid-template-rows: 100%;
  padding-inline: 70px;
  padding-block: 30px;
}

.form-content{
  height: 100%;
  width: 100%;
}

.form-content .page-name {
  color: var(--marine-blue);
  margin-bottom: 10px;
}

.form-content .page-description {
  color: var(--cool-gray);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 40px;
}

.form-content .label-container{
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}

.form-content label.p-info{
  color: var(--marine-blue);
}

.form-content label.error-label{
  color: var(--strawberry-red);
  font-weight: 700;
}


.form-content input[type="text"],.form-content input[type="email"]{
  display: block;
  width: 100%;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border: 1px solid var(--light-gray);
  padding: 0.5rem;
  margin-bottom: 20px;
  font-family: inherit;
  color: var(--marine-blue);
}

.form-content input:focus{
  border-color: var(--purplish-blue);
}

.form-content input.invalid-input{
  border-color: var(--strawberry-red);
}


#form-container .navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  border-radius: 5px;
  color: var(--wlabaster);
  padding-top: 30px;
  padding-left: 30px;
  font-size: 16px;
  background-position: center;
  background-size: cover;
}

.navbar .nav-item {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
}

.nav-item .view-number {
  border: 1px solid var(--wlabaster);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.view-number.active {
  background-color: var(--green);
  color: var(--black);
  border: none;
}

.nav-item .view-info .step-number {
  color: var(--light-gray);
  font-size: 12px;
}
.nav-item .view-info .step-name {
  font-weight: 700;
}


/* Section 2- Select your plan*/

.form-content input[type="radio"]{
  display: none;
}

.form-content .plan-info-container{
  display: flex;
  gap: 20px;
}

.form-content label.plan-label{
  border: 1px solid var(--cool-gray);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: star;
  padding: 20px 50px 10px 10px;
  gap: 40px;
  min-width: 160px;
}

label.plan-label img.plan-icon{
  height: 50px;
  width: 50px;
}

.form-content label.plan-label:hover{
  border-color: var(--purplish-blue);
}

.form-content label.bg-active{
  background-color: hsla(228, 100%, 84%, 0.366);
  border-color: var(--purplish-blue)
}

.plan-title{
  font-size: 20px;
  color: var(--marine-blue);
  margin-bottom: 5px;
}

.plan-price{
  font-size: 12px;
  color: var(--cool-gray);
  font-weight: 500;
  margin-bottom: 5px;
}

.free{
  color: var(--marine-blue);
  font-size: 12px;
  margin-bottom: 7.5px;
  font-weight: 500;
}

.plan-duration-container{
  background: hsla(229, 24%, 87%, 0.447);;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 30px;
  text-align: center;
}

.plan-duration-container label{
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 20px;
}

.plan-duration-container .toggle{
  height: 100px;
  width: 50px;
  background: red;
}


/* Section 3- Add Ons */

/* Footer */

.form-content .add-ons-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.add-ons-container label.add-on-label{
  width: 100%;
  display: flex;
  padding: 20px 15px;
  gap: 15px;
  border: 1px solid var(--cool-gray);
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.add-ons-container label.add-on-label:hover{
  border-color: var(--purplish-blue);
}

label.add-on-label input[type="checkbox"]{
  display: none;
}

label.add-on-label .checkbox{
  width: 20px;
  height: 20px;
  border: 1px solid var(--cool-gray);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

label.add-on-label .add-on-name{
  font-size: 16px;
  color: var(--marine-blue);
  font-weight: 700;
  margin-bottom: 5px;
}

label.add-on-label .add-on-description{
  font-size: 14px;
  color: var(--cool-gray);
  font-weight: 700;
}

label.add-on-label .add-on-price{
  margin-left: auto;
  font-size: 16px;
  color: var(--purplish-blue);
}




footer {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
}
