@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --wlabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(132, 59%, 73%);
  --black: hsl(0, 0%, 0%);
}


body,html{
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--light-gray);
}

button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  margin-top: 50px;
}

button.next-step {
  color: var(--wlabaster);
  background-color: var(--marine-blue);
  display: block;
  margin-left: auto;
  transition: 200ms background-color ease-in;
}

button.next-step:hover {
  background-color: hsla(213, 96%, 18%, 0.919);
}

button.go-back {
  background: transparent;
  color: var(--cool-gray);
  font-weight: 500;
  padding-left: 0;
}

button.go-back:hover {
  color: var(--marine-blue);
}

button.confirm {
  color: var(--white);
  background-color: var(--purplish-blue);
}

button.confirm:hover {
  background-color: hsla(243, 100%, 62%, 0.955);
}

button.next-step:active,
button.confirm:active {
  transform: scale(0.95);
}

main#form-container {
  max-width: 1400px;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 550px;
  min-width: 900px;
  border-radius: 10px;
  padding: 10px;
}

#form-content-container {
  display: grid;
  place-items: center;
  grid-template-rows: 100%;
  padding-inline: 70px;
  padding-block: 30px;
}

.form-content {
  height: 100%;
  width: 100%;
}

.form-content .page-name {
  color: var(--marine-blue);
  margin-bottom: 10px;
}

.form-content .page-description {
  color: var(--cool-gray);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 40px;
}

.form-content .label-container {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}

.form-content label.p-info {
  color: var(--marine-blue);
}

.form-content label.error-label {
  color: var(--strawberry-red);
  font-weight: 700;
}

.form-content input[type="text"],
.form-content input[type="email"] {
  display: block;
  width: 100%;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border: 1px solid var(--light-gray);
  padding: 0.5rem;
  margin-bottom: 20px;
  font-family: inherit;
  color: var(--marine-blue);
}

.form-content input:focus {
  border-color: var(--purplish-blue);
}

.form-content input.invalid-input {
  border-color: var(--strawberry-red);
}

#form-container .navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  border-radius: 5px;
  color: var(--wlabaster);
  padding-top: 30px;
  padding-left: 30px;
  font-size: 16px;
  background-position: center;
  background-size: cover;
}

.navbar .nav-item {
  display: flex;
  gap: 20px;
  text-transform: uppercase;
}

.nav-item .view-number {
  border: 1px solid var(--wlabaster);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.view-number.active {
  background-color: var(--green);
  color: var(--black);
  border: none;
}

.nav-item .view-info .step-number {
  color: var(--light-gray);
  font-size: 12px;
}
.nav-item .view-info .step-name {
  font-weight: 700;
}

/* Section 2- Select your plan*/

.form-content input[type="radio"] {
  position: absolute;
  z-index: -1;
}

.form-content input[type="radio"]:focus + label.plan-label {
  -webkit-box-shadow: 0px 13px 21px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 13px 21px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 13px 21px -11px rgba(0, 0, 0, 0.75);
}

.form-content .plan-info-container {
  display: flex;
  gap: 20px;
}

.form-content label.plan-label {
  border: 1px solid var(--cool-gray);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: star;
  padding: 20px 50px 10px 10px;
  gap: 40px;
  min-width: 160px;
  position: relative;
}

label.plan-label img.plan-icon {
  height: 50px;
  width: 50px;
}

.form-content label.plan-label:hover {
  border-color: var(--purplish-blue);
}

.form-content label.bg-active {
  background-color: hsla(228, 100%, 84%, 0.366);
  border-color: var(--purplish-blue);
}

.plan-title {
  font-size: 20px;
  color: var(--marine-blue);
  margin-bottom: 5px;
}

.plan-price {
  font-size: 12px;
  color: var(--cool-gray);
  font-weight: 500;
  margin-bottom: 5px;
}

.free {
  color: var(--marine-blue);
  font-size: 12px;
  margin-bottom: 7.5px;
  font-weight: 500;
}

.plan-duration-container {
  background: hsla(229, 24%, 87%, 0.447);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 30px;
  text-align: center;
}

.plan-duration-container label {
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-right: 20px;
}

.form-content input[type="radio"]:focus + label.label-duration{
  text-decoration: underline;
}

.plan-duration-container .toggle {
  height: 100px;
  width: 50px;
  background: red;
}

/* Section 3- Add Ons */


.form-content .add-ons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-ons-container label.add-on-label {
  width: 100%;
  display: flex;
  padding: 20px 15px;
  gap: 15px;
  border: 1px solid var(--cool-gray);
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.add-ons-container label.add-on-label:hover {
  border-color: var(--purplish-blue);
}

.add-ons-container input[type="checkbox"] {
  position: absolute;
  z-index: -1;
}

.add-ons-container input[type="checkbox"]:focus + label.add-on-label{
  border-color: var(--purplish-blue);
}

label.add-on-label .checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid var(--cool-gray);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

label.add-on-label .add-on-name {
  font-size: 16px;
  color: var(--marine-blue);
  font-weight: 700;
  margin-bottom: 5px;
}

label.add-on-label .add-on-description {
  font-size: 14px;
  color: var(--cool-gray);
  font-weight: 700;
}

label.add-on-label .add-on-price {
  margin-left: auto;
  font-size: 16px;
  color: var(--purplish-blue);
}

/* Section 4 - Summary */

.form-content .summary-info-container {
  background: hsla(229, 24%, 87%, 0.447);
  padding: 20px;
  border-radius: 10px;
}

.summary-info-container .plan-summary-info {
  font-size: 18px;
  color: var(--marine-blue);
  font-weight: 700;
}

.summary-info-container .plan-addon-info {
  font-size: 14px;
  color: var(--cool-gray);
}

.summary-info-container .plan-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-info-container .plan-summary:nth-child(1) {
  padding-bottom: 33px;
  border-bottom: 1px solid var(--cool-gray);
  margin-bottom: 15px;
}

.summary-info-container .plan-summary:not(:nth-child(1)) {
  padding-bottom: 15px;
}

.summary-info-container .go-to-plan {
  font-size: 16px;
  color: var(--cool-gray);
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}

.form-content .final-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-inline: 20px;
  font-size: 16px;
  color: var(--cool-gray);
}

.final-price .total-cost {
  color: var(--purplish-blue);
  font-weight: 700;
  font-size: 22px;
}

.submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  gap: 30px;
}

.submit-container h1 {
  color: var(--marine-blue);
}

.submit-container p {
  color: var(--cool-gray);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

footer {
  margin-top: auto;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 520px) {

  body{
    display: block;
    min-height: auto;
  }
  
  main#form-container{
    background-color: var(--light-blue);
    min-width: 90vw;
    max-width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows: 150px 0.8fr;
    padding: 0;
    min-height: 100vh;

  }

  #form-container .navbar{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: bottom;
    border-radius: 0;
    padding:0;
    background-repeat: no-repeat;
  }

  #form-container .navbar .view-info{
    display: none;
  }

  #form-container #form-content-container{
    margin-inline: auto;
    width: 90%;
    padding: 0;
    background-color: var(--white);
    padding: 1.25rem 1rem 1rem 1rem;
    border-radius: 10px;
    margin-top: -1.75rem;
  }

  #form-container #form-content-container .plan-info-container{
    display: block;
  }

  .plan-info-container label.plan-label{
    flex-direction: row;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  #form-container #form-content-container footer{
    /* max-width: 100%;
    bottom: 0;
    position: absolute; */
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 75px;
    align-items: center;
    padding-inline: 1rem;
    background: var(--white);
  }


  footer > button{
    margin: 0;
  }

}