@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --wlabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(132, 56%, 59%);
  --black: hsl(0, 0%, 0%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--light-gray);
}


main#form-container{
  max-width: 1400px;
  background-color: var(--white);
  height: 80vh;
  display: grid;
  grid-template-columns: 30% 70%;
  min-width:900px;
  border-radius: 10px;
  padding: 10px;
}

#form-container .navbar{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  border-radius: 5px;
  color: var(--wlabaster);
  padding-top: 30px;
  padding-left: 30px;
  font-size: 16px;
}


.navbar .nav-item{
  display: flex;
  gap: 20px;
  text-transform: uppercase;
}

.nav-item .view-number{
  border: 1px solid var(--wlabaster);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.view-number.active{
  background-color: var(--green);
  color: var(--black);
  border: none;
}

.nav-item .view-info .step-number{
  color: var(--light-gray);
  font-size: 12px
}
.nav-item .view-info .step-name{
  font-weight: 700;
}

